{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"modules": false,
				//  指定core-js版本
				"corejs": {
					"version": 3
				},
				//  指定兼容性到浏览器的哪个版本
				"targets": {
					"chrome": "60",
					"firefox": "60",
					"safari": "50"
				}
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": false,
				"helpers": false,
				"regenerator": false,
				"useESModules": false
			}
		]
	]
}
